# IBM DataScience - Capstone Project - Part 2 - Sven De Smit

In [1]:
import pandas as pd
import numpy as np

## Reading datasets from files

In [2]:
df_cities = pd.read_csv('cities_dataset.csv')
print('Number of cities:',df_cities.shape[0]) 
df_cities.head(10)

Number of cities: 581

,ID,Name,Habitants,Index,Acreage,HabitantsPerSquareKm,ProsperityIndex,Province,Latitude,Longitude,BoundingBox
0,1,Antwerpen,525.935,443.000,"204,51",2.572,"88,2",Antwerpen,51.221110,4.399708,"['51.1432868', '51.3776412', '4.2175769', '4.4..."
1,2,Gent,262.219,204.000,"156,18",1.679,"102,3",Oost-Vlaanderen,51.053829,3.725012,"['50.9795422', '51.187946', '3.5797616', '3.84..."
2,3,Charleroi,202.267,370.000,"102,08",1.982,"73,0",Henegouwen,50.412033,4.443624,"['50.3527894', '50.4925149', '4.3474458', '4.5..."
3,4,Luik,197.327,219.000,"69,39",2.844,"81,4",Luik,50.645138,5.573420,"['50.5610182', '50.6881981', '5.5233883', '5.6..."
4,5,Brussel,181.726,140.000,"32,61",5.573,"70,0",Brussel,50.846557,4.351697,"['50.6865573', '51.0065573', '4.191697', '4.51..."
5,6,Schaarbeek,133.309,2.146,"8,14",16.377,"65,4",Brussel,50.867604,4.373712,"['50.8434069', '50.8811977', '4.3571322', '4.4..."
6,7,Anderlecht,119.714,2.007,"17,74",6.747,"63,8",Brussel,50.839098,4.329653,"['50.8070598', '50.850549', '4.2437658', '4.34..."
7,8,Brugge,118.325,194.000,"138,40",855.000,"111,7",West-Vlaanderen,51.208553,3.226772,"['51.1581918', '51.363347', '3.1341802', '3.30..."
8,9,Namen,110.779,260.000,"175,69",631.000,"99,9",Namen,50.466528,4.866189,"['50.3872825', '50.5313007', '4.723053', '4.98..."
9,10,Leuven,101.624,288.000,"56,63",1.794,"113,6",Vlaams-Brabant,50.879202,4.701168,"['50.8242096', '50.9440707', '4.640295', '4.77..."

In [3]:
df_cities_multilang = pd.read_csv('cities_multilang_dataset.csv')
df_cities_multilang.head(10)

,Frans,Nederlands,Duits,Begin,Einde,Name
0,NaN,Puurs-Sint-Amands,NaN,01.01.2019,31.12.9999,Puurs-Sint-Amands
1,NaN,Deinze,NaN,01.01.2019,31.12.9999,Deinze
2,NaN,Aalter,NaN,01.01.2019,31.12.9999,Aalter
3,NaN,Lievegem,NaN,01.01.2019,31.12.9999,Lievegem
4,NaN,Kruisem,NaN,01.01.2019,31.12.9999,Kruisem
5,Enghien,Edingen,NaN,01.01.2019,31.12.9999,Edingen
6,Silly,Opzullik,NaN,01.01.2019,31.12.9999,Opzullik
7,Lessines,Lessen,NaN,01.01.2019,31.12.9999,Lessen
8,Seneffe,-,-,01.01.2019,31.12.9999,Seneffe
9,Manage,-,-,01.01.2019,31.12.9999,Manage

In [4]:
df_venues = pd.read_csv('be_venues.csv')
df_venues.head(10)

,City,Venue,Venue Latitude,Venue Longitude,Category Class,Venue Category
0,Antwerpen,Moochie Frozen Yoghurt,51.220036,4.402850,https://ss3.4sqi.net/img/categories_v2/food/fr...,Frozen Yogurt Shop
1,Antwerpen,Dogma Cocktails,51.221146,4.402854,https://ss3.4sqi.net/img/categories_v2/nightli...,Cocktail Bar
2,Antwerpen,Absinthbar,51.219912,4.400709,https://ss3.4sqi.net/img/categories_v2/nightli...,Cocktail Bar
3,Antwerpen,Pitten en Bonen,51.217657,4.402712,https://ss3.4sqi.net/img/categories_v2/food/ju...,Juice Bar
4,Antwerpen,Kartini Indonesisch Restaurant,51.219270,4.400557,https://ss3.4sqi.net/img/categories_v2/food/in...,Indonesian Restaurant
5,Antwerpen,Hunkemöller,51.218611,4.405531,https://ss3.4sqi.net/img/categories_v2/shops/a...,Lingerie Store
6,Antwerpen,Brasserie Appelmans,51.219879,4.400717,https://ss3.4sqi.net/img/categories_v2/nightli...,Cocktail Bar
7,Antwerpen,Quetzal,51.220625,4.402132,https://ss3.4sqi.net/img/categories_v2/food/co...,Coffee Shop
8,Antwerpen,Maison Tartine,51.221703,4.404996,https://ss3.4sqi.net/img/categories_v2/food/deli_,Sandwich Place
9,Antwerpen,Bia Mara,51.220894,4.400189,https://ss3.4sqi.net/img/categories_v2/food/fi...,Fish & Chips Shop

## Data cleansing and preparation

### Cities dataset

#### Translate prosperity index column to numeric

In [5]:
df_cities['ProsperityIndex'].replace({',': '.'}, regex=True,inplace=True)
ser_num = pd.to_numeric(df_cities['ProsperityIndex'])
df_cities['ProsperityIndex'] = ser_num
#df_cities

#### Translate acreage column to numeric

In [7]:
df_cities['Acreage'].replace({',': '.'}, regex=True,inplace=True)
ser_num = pd.to_numeric(df_cities['Acreage'])
df_cities['Acreage'] = ser_num
#df_cities

In [8]:
df_cities.dtypes

ID                        int64
Name                     object
Habitants               float64
Index                   float64
Acreage                 float64
HabitantsPerSquareKm    float64
ProsperityIndex         float64
Province                 object
Latitude                float64
Longitude               float64
BoundingBox              object
dtype: object

In [9]:
df_cities.head()

,ID,Name,Habitants,Index,Acreage,HabitantsPerSquareKm,ProsperityIndex,Province,Latitude,Longitude,BoundingBox
0,1,Antwerpen,525.935,443.0,204.51,2.572,88.2,Antwerpen,51.221110,4.399708,"['51.1432868', '51.3776412', '4.2175769', '4.4..."
1,2,Gent,262.219,204.0,156.18,1.679,102.3,Oost-Vlaanderen,51.053829,3.725012,"['50.9795422', '51.187946', '3.5797616', '3.84..."
2,3,Charleroi,202.267,370.0,102.08,1.982,73.0,Henegouwen,50.412033,4.443624,"['50.3527894', '50.4925149', '4.3474458', '4.5..."
3,4,Luik,197.327,219.0,69.39,2.844,81.4,Luik,50.645138,5.573420,"['50.5610182', '50.6881981', '5.5233883', '5.6..."
4,5,Brussel,181.726,140.0,32.61,5.573,70.0,Brussel,50.846557,4.351697,"['50.6865573', '51.0065573', '4.191697', '4.51..."

#### Translate the city name for different purposes

Create Name column for matching with cities dataframe

In [10]:
is_latest =  df_cities_multilang['Einde']=='31.12.9999'
df_cities_multilang = df_cities_multilang[is_latest]
print('Number of cities:',df_cities_multilang.shape[0])
df_cities_multilang.head()

Number of cities: 636

  Frans         Nederlands Duits       Begin       Einde               Name
0   NaN  Puurs-Sint-Amands   NaN  01.01.2019  31.12.9999  Puurs-Sint-Amands
1   NaN             Deinze   NaN  01.01.2019  31.12.9999             Deinze
2   NaN             Aalter   NaN  01.01.2019  31.12.9999             Aalter
3   NaN           Lievegem   NaN  01.01.2019  31.12.9999           Lievegem
4   NaN            Kruisem   NaN  01.01.2019  31.12.9999            Kruisem

In [11]:
df_cities_multilang['Name'] = np.where(df_cities_multilang['Nederlands'] == '-', df_cities_multilang['Frans'], df_cities_multilang['Nederlands'])
df_cities_multilang.head()

  Frans         Nederlands Duits       Begin       Einde               Name
0   NaN  Puurs-Sint-Amands   NaN  01.01.2019  31.12.9999  Puurs-Sint-Amands
1   NaN             Deinze   NaN  01.01.2019  31.12.9999             Deinze
2   NaN             Aalter   NaN  01.01.2019  31.12.9999             Aalter
3   NaN           Lievegem   NaN  01.01.2019  31.12.9999           Lievegem
4   NaN            Kruisem   NaN  01.01.2019  31.12.9999            Kruisem

#### Merge cities dataframe with multi-language dataframe to have the names of the cities in all languages

In [12]:
df_cities_and_lang = df_cities.merge(df_cities_multilang,how='left')
print('Cities in original cities dataframe',df_cities.shape[0])
print('Cities in original multi-language dataframe',df_cities_multilang.shape[0])
print('Cities in merged dataframe',df_cities_and_lang.shape[0])
df_cities_and_lang

Cities in original cities dataframe 581
Cities in original multi-language dataframe 636
Cities in merged dataframe 581

,ID,Name,Habitants,Index,Acreage,HabitantsPerSquareKm,ProsperityIndex,Province,Latitude,Longitude,BoundingBox,Frans,Nederlands,Duits,Begin,Einde
0,1,Antwerpen,525.935,443.000,204.51,2.572,88.2,Antwerpen,51.221110,4.399708,"['51.1432868', '51.3776412', '4.2175769', '4.4...",Anvers,Antwerpen,Antwerpen,01.01.0001,31.12.9999
1,2,Gent,262.219,204.000,156.18,1.679,102.3,Oost-Vlaanderen,51.053829,3.725012,"['50.9795422', '51.187946', '3.5797616', '3.84...",Gand,Gent,Gent,01.01.0001,31.12.9999
2,3,Charleroi,202.267,370.000,102.08,1.982,73.0,Henegouwen,50.412033,4.443624,"['50.3527894', '50.4925149', '4.3474458', '4.5...",Charleroi,-,-,01.01.0001,31.12.9999
3,4,Luik,197.327,219.000,69.39,2.844,81.4,Luik,50.645138,5.573420,"['50.5610182', '50.6881981', '5.5233883', '5.6...",Liège,Luik,Lüttich,01.01.0001,31.12.9999
4,5,Brussel,181.726,140.000,32.61,5.573,70.0,Brussel,50.846557,4.351697,"['50.6865573', '51.0065573', '4.191697', '4.51...",Bruxelles,Brussel,-,01.01.0001,31.12.9999
5,6,Schaarbeek,133.309,2.146,8.14,16.377,65.4,Brussel,50.867604,4.373712,"['50.8434069', '50.8811977', '4.3571322', '4.4...",Schaerbeek,Schaarbeek,-,01.01.0001,31.12.9999
6,7,Anderlecht,119.714,2.007,17.74,6.747,63.8,Brussel,50.839098,4.329653,"['50.8070598', '50.850549', '4.2437658', '4.34...",Anderlecht,Anderlecht,-,01.01.0001,31.12.9999
7,8,Brugge,118.325,194.000,138.40,855.000,111.7,West-Vlaanderen,51.208553,3.226772,"['51.1581918', '51.363347', '3.1341802', '3.30...",Bruges,Brugge,Brügge,01.01.0001,31.12.9999
8,9,Namen,110.779,260.000,175.69,631.000,99.9,Namen,50.466528,4.866189,"['50.3872825', '50.5313007', '4.723053', '4.98...",Namur,Namen,-,01.01.0001,31.12.9999
9,10,Leuven,101.624,288.000,56.63,1.794,113.6,Vlaams-Brabant,50.879202,4.701168,"['50.8242096', '50.9440707', '4.640295', '4.77...",Louvain,Leuven,Löwen,01.01.0001,31.12.9999
10,11,Sint-Jans-Molenbeek,97.462,808.000,5.89,16.542,57.1,Brussel,50.854596,4.338636,"['50.844035', '50.8714317', '4.2831135', '4.34...",Molenbeek-Saint-Jean,Sint-Jans-Molenbeek,-,01.01.0001,31.12.9999
11,12,Bergen,95.613,183.000,146.53,653.000,88.1,Henegouwen,50.454957,3.951958,"['50.3777531', '50.5138107', '3.8547797', '4.0...",Mons,Bergen,-,01.01.0001,31.12.9999
12,13,Elsene,86.876,610.000,6.34,13.693,89.7,Brussel,50.833114,4.366828,"['50.8009321', '50.8406267', '4.3479344', '4.4...",Ixelles,Elsene,-,01.01.0001,31.12.9999
13,14,Mechelen,86.616,235.000,65.19,1.329,104.8,Antwerpen,51.028138,4.480345,"['50.9909709', '51.0785768', '4.3700927', '4.5...",Malines,Mechelen,Mechelen,01.01.0001,31.12.9999
14,15,Aalst,86.445,263.000,78.12,1.107,107.6,Oost-Vlaanderen,50.938323,4.039215,"['50.8993828', '50.9948309', '3.9824469', '4.1...",Alost,Aalst,Aalst,01.01.0001,31.12.9999
15,16,Ukkel,83.024,1.303,22.91,3.624,112.9,Brussel,50.803544,4.333844,"['50.763682', '50.8169786', '4.3110983', '4.41...",Uccle,Ukkel,-,01.01.0001,31.12.9999
16,17,La Louvière,80.757,483.000,64.24,1.257,79.8,Henegouwen,50.479487,4.185268,"['50.4332671', '50.5249551', '4.0699218', '4.2...",La Louvière,-,-,01.01.2019,31.12.9999
17,18,Hasselt,78.296,514.000,102.24,766.000,113.2,Limburg,50.930374,5.337804,"['50.8675553', '50.981282', '5.2121524', '5.41...",-,Hasselt,-,01.01.0001,31.12.9999
18,19,Sint-Niklaas,77.769,259.000,83.80,927.000,99.3,Oost-Vlaanderen,51.164668,4.139512,"['51.1296079', '51.2078094', '3.9853092', '4.2...",Saint-Nicolas (Waes),Sint-Niklaas,Sint-Niklaas,01.01.0001,31.12.9999
19,20,Kortrijk,76.735,218.000,80.02,959.000,104.5,West-Vlaanderen,50.827643,3.265988,"['50.7310386', '50.874934', '3.2007586', '3.35...",Courtrai,Kortrijk,Kortrijk,01.01.0001,31.12.9999
20,21,Oostende,71.494,446.000,37.72,1.895,100.3,West-Vlaanderen,51.225856,2.919496,"['51.1846337', '51.2455721', '2.8386276', '3.0...",Ostende,Oostende,Oostende,01.01.0001,31.12.9999
21,22,Doornik,69.370,106.000,213.75,325.000,94.8,Henegouwen,50.605660,3.387826,"['50.5523575', '50.6887918', '3.2440216', '3.5...",Tournai,Doornik,-,01.01.0001,31.12.9999
22,23,Genk,66.227,3.728,87.85,754.000,89.5,Limburg,50.965486,5.500146,"['50.9130492', '51.020766', '5.3843163', '5.59...",-,Genk,-,01.01.0001,31.12.9999
23,24,Seraing,64.259,373.000,35.34,1.819,77.5,Luik,50.615238,5.508944,"['50.5472961', '50.6286135', '5.4698932', '5.5...",Seraing,-,-,01.01.0001,31.12.9999
24,25,Roeselare,62.954,292.000,59.79,1.053,102.1,West-Vlaanderen,50.944495,3.124765,"['50.8870139', '50.9940257', '3.0619143', '3.1...",Roulers,Roeselare,Roeselare,01.01.0001,31.12.9999
25,26,Moeskroen,58.474,426.000,40.08,1.459,84.3,Henegouwen,50.743335,3.213909,"['50.7099086', '50.7658775', '3.1783878', '3.3...",Mouscron,Moeskroen,NaN,01.01.2019,31.12.9999
26,27,Sint-Lambrechts-Woluwe,56.660,4.794,7.22,7.842,94.9,Brussel,50.843045,4.425673,"['50.8337623', '50.8630337', '4.3999896', '4.4...",Woluwe-Saint-Lambert,Sint-Lambrechts-Woluwe,-,01.01.0001,31.12.9999
27,28,Vorst,56.289,4.251,6.25,9.009,81.4,Brussel,50.809143,4.317751,"['50.7975919', '50.8308078', '4.3019949', '4.3...",Forest,Vorst,-,01.01.0001,31.12.9999
28,29,Verviers,55.207,160.000,33.07,1.669,77.9,Luik,50.593227,5.863854,"['50.5492321', '50.6258273', '5.8130414', '5.9...",Verviers,-,-,01.01.0001,31.12.9999
29,30,Jette,52.536,2.652,5.04,10.417,82.4,Brussel,50.875959,4.324570,"['50.864506', '50.8941515', '4.2937557', '4.34...",Jette,Jette,-,01.01.0001,31.12.9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
551,552,Onhaye,3.241,93.000,65.53,49.000,93.6,Namen,50.243566,4.840864,"['50.214696', '50.3111173', '4.7360267', '4.89...",Onhaye,-,-,01.01.0001,31.12.9999
552,553,Burdinne,3.238,101.000,32.57,99.000,109.5,Luik,50.581261,5.072436,"['50.5552451', '50.608095', '5.027859', '5.166...",Burdinne,-,-,01.01.0001,31.12.9999
553,554,Fexhe-le-Haut-Clocher,3.233,229.000,19.25,168.000,111.8,Luik,50.666082,5.398520,"['50.6392849', '50.6918017', '5.3482158', '5.4...",Fexhe-le-Haut-Clocher,-,-,01.01.0001,31.12.9999
554,555,Stoumont,3.167,81.000,108.45,29.000,103.7,Luik,50.406950,5.808360,"['50.35625', '50.4642046', '5.6700851', '5.930...",Stoumont,-,-,01.01.0001,31.12.9999
555,556,Berloz,3.132,202.000,14.49,216.000,108.8,Luik,50.697733,5.214626,"['50.6835696', '50.723727', '5.1650784', '5.23...",Berloz,-,-,01.01.0001,31.12.9999
556,557,Wellin,3.093,151.000,67.52,46.000,90.0,Luxemburg,50.082297,5.114671,"['50.0159061', '50.1230465', '5.011381', '5.17...",Wellin,-,-,01.01.0001,31.12.9999
557,558,Donceel,3.060,166.000,23.31,131.000,117.9,Luik,50.647897,5.319941,"['50.6252332', '50.6752185', '5.2809354', '5.3...",Donceel,-,-,01.01.0001,31.12.9999
558,559,Doische,2.997,100.000,84.02,36.000,85.9,Namen,50.135715,4.745822,"['50.09183', '50.2099841', '4.583007', '4.7995...",Doische,-,-,01.01.0001,31.12.9999
559,560,Wasseiges,2.937,99.000,24.45,120.000,98.7,Luik,50.621009,5.006907,"['50.5879719', '50.6465153', '4.9794305', '5.0...",Wasseiges,-,-,01.01.0001,31.12.9999
560,561,Tenneville,2.832,119.000,91.81,31.000,97.8,Luxemburg,50.091248,5.524213,"['50.0477579', '50.1517225', '5.389167', '5.59...",Tenneville,-,-,01.01.0001,31.12.9999
561,562,Meix-devant-Virton,2.809,77.000,54.20,52.000,95.4,Luxemburg,49.605593,5.481616,"['49.5637153', '49.6397398', '5.3752213', '5.5...",Meix-devant-Virton,-,-,01.01.0001,31.12.9999
562,563,Ouffet,2.776,160.000,40.22,69.000,98.3,Luik,50.437734,5.465327,"['50.407621', '50.4826969', '5.383756', '5.536...",Ouffet,-,-,01.01.0001,31.12.9999
563,564,Baarle-Hertog,2.760,274.000,7.48,369.000,87.9,Antwerpen,51.438359,4.931700,"['51.392824', '51.45563', '4.8357449', '4.9527...",Baerle-Duc,Baarle-Hertog,Baarle-Hertog,01.01.0001,31.12.9999
564,565,Zuienkerke,2.721,113.000,48.86,56.000,113.0,West-Vlaanderen,51.268583,3.156741,"['51.243806', '51.29076', '3.1160425', '3.1935...",-,Zuienkerke,-,01.01.0001,31.12.9999
565,566,Tinlot,2.706,156.000,37.12,73.000,110.1,Luik,50.477742,5.378695,"['50.4466996', '50.5062878', '5.3076371', '5.4...",Tinlot,-,-,02.01.1977,31.12.9999
566,567,Rendeux,2.637,79.000,68.83,38.000,90.3,Luxemburg,50.233047,5.504324,"['50.1638022', '50.2651698', '5.4421258', '5.6...",Rendeux,-,-,01.01.0001,31.12.9999
567,568,Vresse-sur-Semois,2.615,56.000,101.04,26.000,85.0,Namen,49.872977,4.934063,"['49.7855452', '49.9309164', '4.8475351', '4.9...",Vresse-sur-Semois,-,-,01.02.1977,31.12.9999
568,569,Sainte-Ode,2.555,121.000,97.87,26.000,88.1,Luxemburg,50.036289,5.524509,"['49.9552613', '50.0775516', '5.4148743', '5.6...",Sainte-Ode,-,-,03.01.1977,31.12.9999
569,570,Trois-Ponts,2.553,127.000,68.90,37.000,93.4,Luik,50.372681,5.870296,"['50.3197785', '50.3912922', '5.7597006', '6.0...",Trois-Ponts,-,-,01.01.1971,31.12.9999
570,571,Tellin,2.432,150.000,56.64,43.000,93.1,Luxemburg,50.081019,5.216837,"['50.0261117', '50.1102221', '5.1524704', '5.3...",Tellin,-,-,01.01.0001,31.12.9999
571,572,Fauvillers,2.281,88.000,74.11,31.000,98.6,Luxemburg,49.850931,5.665031,"['49.8200397', '49.9424849', '5.6143425', '5.7...",Fauvillers,-,-,01.01.0001,31.12.9999
572,573,Bever,2.159,63.000,19.78,109.000,114.5,Vlaams-Brabant,50.716448,3.943147,"['50.6889705', '50.7330106', '3.88932', '3.974...",Biévène,Bever,-,01.01.0001,31.12.9999
573,574,Rouvroy,2.107,110.000,27.68,76.000,94.4,Luxemburg,49.539075,5.489710,"['49.4969821', '49.5749892', '5.4414056', '5.5...",Rouvroy,-,-,03.01.1977,31.12.9999
574,575,Spiere-Helkijn,2.049,94.000,10.78,190.000,94.9,West-Vlaanderen,50.727992,3.366774,"['50.7096189', '50.7481815', '3.3237599', '3.4...",Espierres-Helchin,Spiere-Helkijn,-,03.01.1977,31.12.9999
575,576,Horebeke,2.036,72.000,11.20,182.000,118.8,Oost-Vlaanderen,50.834863,3.692035,"['50.7983998', '50.8622645', '3.672245', '3.71...",-,Horebeke,-,01.01.1977,31.12.9999
576,577,Martelange,1.876,168.000,29.67,63.000,96.2,Luxemburg,49.831332,5.737637,"['49.7719946', '49.8577727', '5.6845055', '5.7...",Martelange,-,-,01.01.0001,31.12.9999
577,578,Herbeumont,1.624,67.000,58.81,28.000,90.5,Luxemburg,49.781536,5.237774,"['49.7593794', '49.8322323', '5.2151581', '5.3...",Herbeumont,-,-,01.01.0001,31.12.9999
578,579,Daverdisse,1.395,92.000,56.40,25.000,83.4,Luxemburg,50.021765,5.118464,"['49.9612874', '50.0452849', '4.9729894', '5.1...",Daverdisse,-,-,01.01.0001,31.12.9999
579,580,Mesen,1.065,75.000,3.58,298.000,76.2,West-Vlaanderen,50.765419,2.898449,"['50.7527296', '50.7670386', '2.8695657', '2.9...",Messines,Mesen,-,01.01.0001,31.12.9999
580,581,Herstappe,83.000,61.000,1.35,61.000,108.6,Limburg,50.727383,5.426092,"['50.718121', '50.7354411', '5.4155455', '5.43...",-,Herstappe,-,01.01.0001,31.12.9999

### Create 'geojson_name' for matching with geojson file

In [13]:
french_provinces = ['Henegouwen','Luik','Waals-Brabant','Namen','Luxemburg']
is_fr = df_cities_and_lang['Province'].isin(french_provinces)
#df_cities_and_lang[is_fr]
df_cities_and_lang['geojson_name'] = np.where(is_fr,df_cities_and_lang['Frans'], df_cities_and_lang['Name'])
print('Cities in merged dataframe',df_cities_and_lang.shape[0])
df_cities_and_lang.head()

Cities in merged dataframe 581

,ID,Name,Habitants,Index,Acreage,HabitantsPerSquareKm,ProsperityIndex,Province,Latitude,Longitude,BoundingBox,Frans,Nederlands,Duits,Begin,Einde,geojson_name
0,1,Antwerpen,525.935,443.0,204.51,2.572,88.2,Antwerpen,51.221110,4.399708,"['51.1432868', '51.3776412', '4.2175769', '4.4...",Anvers,Antwerpen,Antwerpen,01.01.0001,31.12.9999,Antwerpen
1,2,Gent,262.219,204.0,156.18,1.679,102.3,Oost-Vlaanderen,51.053829,3.725012,"['50.9795422', '51.187946', '3.5797616', '3.84...",Gand,Gent,Gent,01.01.0001,31.12.9999,Gent
2,3,Charleroi,202.267,370.0,102.08,1.982,73.0,Henegouwen,50.412033,4.443624,"['50.3527894', '50.4925149', '4.3474458', '4.5...",Charleroi,-,-,01.01.0001,31.12.9999,Charleroi
3,4,Luik,197.327,219.0,69.39,2.844,81.4,Luik,50.645138,5.573420,"['50.5610182', '50.6881981', '5.5233883', '5.6...",Liège,Luik,Lüttich,01.01.0001,31.12.9999,Liège
4,5,Brussel,181.726,140.0,32.61,5.573,70.0,Brussel,50.846557,4.351697,"['50.6865573', '51.0065573', '4.191697', '4.51...",Bruxelles,Brussel,-,01.01.0001,31.12.9999,Brussel

In [14]:
df_cities_and_lang['geojson_name'].replace(
    {'Brussel': 'Brussel#Bruxelles',
    'Elsene': 'Elsene#Ixelles',
    'Oudergem': 'Oudergem#Auderghem',
    'Schaarbeek': 'Schaarbeek#Schaerbeek',
    'Sint-Agatha-Berchem': 'Sint-Agatha-Berchem#Berchem-Sainte-Agathe',
    'Sint-Gillis': 'Sint-Gillis#Saint-Gilles',
    'Sint-Jan-Molenbeek': 'Sint-Jan-Molenbeek#Molenbeek-Saint-Jean',
    'Sint-Joost-ten-Node': 'Sint-Joost-ten-Node#Saint-Josse-ten-Noode',
    'Sint-Lambrechts-Woluwe': 'Sint-Lambrechts-Woluwe#Woluwe-Saint-Lambert',
    'Sint-Pieters-Woluwe': 'Sint-Pieters-Woluwe#Woluwe-Saint-Pierre',
    'Ukkel': 'Ukkel#Uccle',
    'Vorst': 'Vorst#Forest',
    'Watermaal-Bosvoorde': 'Watermaal-Bosvoorde#Watermael-Boitsfort',
    'Bever': 'Bever#Biévène',
    'Sint-Genesius-Rode': 'Sint-Genesius-Rode#Rhode-Saint-Genèse',
    'Voeren': 'Voeren#Fourons',
    'Ronse': 'Ronse#Renaix',
    'Mesen': 'Mesen#Messines',
    'Spiere-Helkijn': 'Spiere-Helkijn#Espierres-Helchin',
    'Comines-Warneton': 'Comines-Warneton#Komen-Waasten',
    'Enghien': 'Enghien#Edingen',
    'Flobecq': 'Flobecq#Vloesberg',
    'Mouscron': 'Mouscron#Moeskroen',
    'Amel': 'Amel#Amblève',
    'Büllingen': 'Büllingen#Bullange',
    'Bütgenbach': 'Bütgenbach#Butgenbach',
    'Kelmis': 'Kelmis#La Calamine',
    'Sankt Vith': 'Sankt Vith#Saint-Vith',
    'Waimes': 'Waimes#Weismes',
    'Kruisem': 'Kruishoutem',
    'Bergen': 'Mons',
    'Deinze*': 'Deinze',
    'Aalter*': 'Aalter'},
    regex=True,inplace=True)

In [15]:
print('Cities in merged dataframe',df_cities_and_lang.shape[0])
df_cities_and_lang.head()

Cities in merged dataframe 581

,ID,Name,Habitants,Index,Acreage,HabitantsPerSquareKm,ProsperityIndex,Province,Latitude,Longitude,BoundingBox,Frans,Nederlands,Duits,Begin,Einde,geojson_name
0,1,Antwerpen,525.935,443.0,204.51,2.572,88.2,Antwerpen,51.221110,4.399708,"['51.1432868', '51.3776412', '4.2175769', '4.4...",Anvers,Antwerpen,Antwerpen,01.01.0001,31.12.9999,Antwerpen
1,2,Gent,262.219,204.0,156.18,1.679,102.3,Oost-Vlaanderen,51.053829,3.725012,"['50.9795422', '51.187946', '3.5797616', '3.84...",Gand,Gent,Gent,01.01.0001,31.12.9999,Gent
2,3,Charleroi,202.267,370.0,102.08,1.982,73.0,Henegouwen,50.412033,4.443624,"['50.3527894', '50.4925149', '4.3474458', '4.5...",Charleroi,-,-,01.01.0001,31.12.9999,Charleroi
3,4,Luik,197.327,219.0,69.39,2.844,81.4,Luik,50.645138,5.573420,"['50.5610182', '50.6881981', '5.5233883', '5.6...",Liège,Luik,Lüttich,01.01.0001,31.12.9999,Liège
4,5,Brussel,181.726,140.0,32.61,5.573,70.0,Brussel,50.846557,4.351697,"['50.6865573', '51.0065573', '4.191697', '4.51...",Bruxelles,Brussel,-,01.01.0001,31.12.9999,Brussel#Bruxelles

In [16]:
df_cities_and_lang.to_csv('be_cities_full_dataset.csv',index=False)

### Venues dataset

## Data Visualisation